.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.info {
  background-color: #2196f3;
  color: #fff;
}

.error {
  background-color: #f44336;
  color: #fff;
}

.warning {
  background-color: #ffeb3b;
  color: #212121;
}

.block {
  margin: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.code {
  background-color: #eee;
  font-size: 14px;
}

.content {
  padding: 10px 20px;
  background-color: #eee;
}
